body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #121257;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-brand img {
    width: 30px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

.navbar-brand:hover {
    color: #007bff;
}

.form-inline input,
.form-inline button {
    border-radius: 5px;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.nav-link {
    color: #121257;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007bff;
}

.profile-link i,
.logout-link i {
    margin-right: 10px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.profile-link:hover,
.logout-link:hover {
    background-color: #007bff;
    color: #fff;
}

.dropdown-menu {
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-divider {
    border-top: 1px solid #dee2e6;
}

.main-card {
    transition: background-color 0.3s, transform 0.3s;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 30px;
}

.main-card:hover {
    background-color: #f8f9fa;
    transform: scale(1.05);
}

.How-it-card:hover {
    background-color: #f8f9fa;
}

.icon {
    transition: color 0.3s;
}

.icon:hover {
    color: #FFA500;
}

.btn-custom {
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, box-shadow 0.3s;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 39px;
}

.btn-custom:hover {
    background-color: #FF8C00;
    border-color: #FF8C00;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
